.card {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  background-color: adjust-hue($color: rgba(152, 151, 151, 0.437), $degrees: 0);
  box-shadow: 0px 0px 10px 0px rgb(23, 23, 23);
  width: 200px;
  height: 250px;
  text-align: center;
  cursor: pointer;
}

.flag {
  width: 180px;
  height: 100px;
}
