.background {
  background-color: #4e0778;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23460070' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.paginado {
  display: flex;
  justify-content: center;
}

.botones {
  margin: 5px;
  width: 100px;
  height: 30px;
  background: linear-gradient(yellow, red);
  color: #4e0778;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.container {
  margin-top: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}

.container .card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-evenly;
}

.format-navbar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(blue, #4e0778);
}

.input-form {
  margin-left: 20px;
}

::placeholder {
  color: #4e0778;
  font-weight: bolder;
}

.input {
  height: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  color: #4e0778;
  font-weight: bolder;
}

.boton {
  margin-right: 30px;
  width: 110px;
  height: 30px;
  background-color: gold;
  color: #4e0778;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card {
  display: flex;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.587);
}

.flag {
  margin-top: 10px;
  width: 180px;
  height: 120px;
}
