<div class="background">
  <nav class="nav-detail">
    <button (click)="goBack()" class="boton">Atrás</button>
  </nav>
  <div class="content">
    <div class="container">
      <div *ngIf="countryId" class="contenido">
        <h1>{{ countryId.name }} ({{ countryId.acronym }})</h1>
        <div class="flag">
          <img src="{{ countryId.flag }}" alt="Not Found" class="img" />
        </div>
        <div class="info">
          <h3>Capital: {{ countryId.capital }}</h3>
          <h3>Subregión: {{ countryId.subregion }}</h3>
          <h3>Área: {{ countryId.area }} km</h3>
          <h3>Población: {{ countryId.population }} habitantes</h3>
        </div>
        <div>
          <ng-container *ngIf="countryId.activities.length">
            <h2>Actividades</h2>
            <div *ngFor="let activity of countryId.activities">
              <h2>{{ activity.name }}</h2>
              <h3>Dificultad: {{ activity.difficulty }}</h3>
              <h3>Duración: {{ activity.duration }}</h3>
              <h3>Temporada: {{ activity.season }}</h3>
            </div>
          </ng-container>
          <ng-container *ngIf="!countryId.activities.length">
            <h2>
              No existen actividades registradas. Por favor agrega alguna.
            </h2>
            <button>+</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
